.btn {
    margin: 5%;
    display: inline-block;
    height: 180px;
    width: 180px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;
    text-align: center;
    line-height: 180px;
    color: white;
}

.btn-slim {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 180px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2%;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.blue-box {
    background-color: rgb(87, 157, 255);
}

.btn-container {
    margin-top: 10px;
    height: 455px;
    width: 455px;
}

.question-container {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100px;
    width: 455px;
    text-align: center;
    font-size: x-large;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.btn-start {
    height: 15;
    width: 25;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    margin: 20px;
}

body {
    background-color: rgb(29, 33, 37);
}

.main-container {
    margin-left: 30%;
    margin-right: 29%;
    border: 1px solid rgb(197, 207, 217);
    height: 800px;
}

.score-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 455px;
    text-align: center;
    color: black;
    font-size: medium;
    font-weight: bold;
}

.full-body {
    background-color: rgb(197, 207, 217);
}

.plain-view {
    margin-top: 100px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 455px;
    text-align: center;
    height: 800px;
}